
body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(120deg, #2980b9, #59bfe4, #59bfe4);
  background-size: cover;
  background-attachment: fixed;
  color: #333;
  scroll-behavior: smooth;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255,0.6);
  z-index: -1;
}

.navbar {
  background-color: rgba(10, 61, 98, 0.95);
  padding: 10px 0;
  text-align: center;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #f1c40f;
}

.container {
  max-width: 850px;
  margin: 60px auto;
  background: transparent; /* beyaz değil, saydam */
  padding: 30px 40px;
  color:black; /* metinleri açık renk yap */
}


h1 {
  text-align: center;
  color: #66707a;
}

h2 {
  color: #3c6382;
  border-bottom: 1px solid #ccc;
  padding-bottom: 5px;
  margin-top: 30px;
}

.profile-img {
  display: block;
  margin: 0 auto;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 20px;
  border: 4px solid #0a3d62;
}

.btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #0a3d62;
  color: white;
  text-decoration: none;
  margin: 10px 5px;
  border-radius: 5px;
  transition: background 0.3s ease;
}

.btn:hover {
  background-color: #3c6382;
}

.buttons {
  text-align: center;
  margin-top: 15px;
}
@keyframes slideInFade {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hero {
  color: white; /* Beyaz renk */
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 36px; /* veya istediğin boyut */
  font-weight: bold;
  text-align: center;
  animation: slideInFade 5s ease-out forwards;
}
.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #120f30, #3567be);
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.hero h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero p {
  font-size: 20px;
  font-weight: 300;
}
h2 i {
  margin-right: 10px;
  color: #3b62cc;
}
.card {
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 12px;
  margin-bottom: 25px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  backdrop-filter: blur(5px);
  transition: transform 0.2s ease;
}

.card:hover {
  transform: translateY(-5px);
}

.footer {
  background-color: #0a3d62;
  color: white;
  text-align: center;
  padding: 20px;
  margin-top: 60px;
}

.footer a {
  color: #e4d83b;
  text-decoration: none;
}

.footer a:hover {
  text-decoration: underline;
}


